#### Домашнее задание «Библиотека Pandas»

#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
#по ссылке очень много нескачиваемых архивов.

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
#ratings.head(3)
#movies.head(3)
full_data = ratings.merge(movies, on='movieId')
#full_data.head(4)
filtered_by_rating = full_data[(full_data['rating'] == 5.0)]
filtered_by_rating.head(4)
filtered_by_rating['title'].value_counts()

Shawshank Redemption, The (1994)                   153
Pulp Fiction (1994)                                123
Forrest Gump (1994)                                116
Matrix, The (1999)                                 109
Star Wars: Episode IV - A New Hope (1977)          104
                                                  ...
Horrible Bosses 2 (2014)                             1
L.A. Slasher (2015)                                  1
Beloved (1998)                                       1
Ghost and Mrs. Muir, The (1947)                      1
Police Academy 2: Their First Assignment (1985)      1
Name: title, Length: 2954, dtype: int64

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power_data = pd.read_csv('power.csv')
#power_data.head(5)
filtered_by_countries = power_data[ (power_data['country']=='Latvia') | (power_data['country']=='Lithuania') | (power_data['country']=='Estonia')]
#filtered_by_countries.head(5)
filtered_by_categories = filtered_by_countries[ (filtered_by_countries['category']== 4) | (filtered_by_countries['category']== 12) | (filtered_by_countries['category']== 21)]
#filtered_by_categories.head(5)
filtered_by_year = filtered_by_categories[ (filtered_by_categories['year']>= 2005) & (filtered_by_categories['year']<= 2010)]
#filtered_by_year.head(5)
filtered_by_quantity = filtered_by_year[(filtered_by_year['quantity'] > 0)]
#filtered_by_quantity.head(5)
sum_power = filtered_by_quantity['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики: {sum_power}')

Суммарное потребление стран Прибалтики: 240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
boxberry_table = pd.read_html('https://boxberry.ru/castnym-klientam/dostavka/dostavka-posylok-rf', encoding='utf-8')[0]
boxberry_table

            Откуда    Куда      Цена    Сроки
0           Москва  Самара  182,50 ₽    3 дня
1           Москва    Чита  342,50 ₽   6 дней
2  Санкт-Петербург    Сочи  247,50 ₽   6 дней
3  Санкт-Петербург   Киров  217,50 ₽   7 дней
4     Екатеринбург   Пенза  247,50 ₽   5 дней
5      Новосибирск  Ростов  247,50 ₽   6 дней
6          Иркутск   Лобня  247,50 ₽  11 дней
7        Краснодар   Пермь  342,50 ₽   7 дней