#### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def ratings_class(param):
    if param <= 2.0:
        return 'low rating'
    elif param <= 4.0:
        return 'average rating'
    elif param == 4.5 or param == 5.0:
        return 'high rating'
    else:
        return 'undefined'

In [4]:
ratings['class'] = ratings['rating'].apply(ratings_class)
ratings.head()

   userId  movieId  rating   timestamp           class
0       1       31     2.5  1260759144  average rating
1       1     1029     3.0  1260759179  average rating
2       1     1061     3.0  1260759182  average rating
3       1     1129     2.0  1260759185      low rating
4       1     1172     4.0  1260759205  average rating

#### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [14]:
def geo_data_check(info_data):
    for key, value in geo_data.items():
        for city in value:
            if city in info_data.keyword:
                return key 
    else:        
        return 'undefined'
    
    #Подскажите, пожалуйста, почему без .keyword, когда я писала if city in info_data
    #функция всем без исключения проставляла 'undefined'?

In [15]:
keywords['region'] = keywords.apply(geo_data_check, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [16]:
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64